<div id="container" class="{{id}}">
	<a id="menu-icon">
		<img src="/assets/menu27.png">
		<h3>Menu</h3><br>
	</a>
	{{!-- <a id="menu3" href="#menu" class="box-shadow-menu">
		<h3>Menu</h3><br>
	</a> --}}
	{{!-- <img id="menu-icon" src="/assets/menu30.png"> --}}
	<h2 class="title">{{title}}</h2>
	{{#if subheader}}
		<h3 class="subheader">...{{{subheader}}}</h3>
	{{/if}}
	{{#if body}}
		{{{join body}}}
	{{/if}}
	{{#if articles}}
	{{#each articles}}
		<div id="{{id}}" class="article {{ifExists detailed "detailed"}}">
			<h3 class="article-title">
			{{#if detailed}}
				<a class="details" href="#{{../../id}}/{{id}}">{{{title}}}</a>
			{{else}}
				{{{title}}}
				{{!-- {{#if href}}
					<a class="details" target="_blank" href="{{href}}">{{{title}}}</a>
				{{else}}
					{{{title}}}
				{{/if}} --}}
			{{/if}}
			</h3>
			<p  class="article-description">{{{description}}}</p>
		</div>
	{{/each}}
	{{/if}}
</div>
