<div>
	<h2 class="title">
		{{!-- {{{title}}} --}}
		{{!-- {{ifExists href "linked"}} --}}
		{{#if href}}
			<a target="_blank" href="{{href}}">{{{title}}}
			<img class="external-icon" src="/assets/external1.png"></a>
		{{else}}
			{{{title}}}
		{{/if}}
	</h2>


	{{#if date}}
		<p class="date">Created {{timeAgo date}}</p>
	{{/if}}

	{{{join detailed}}}

	<div id="show-comments"><p>Show Comments</p></div>

	<div id="disqus_thread"></div>
</div>

